In [1]:
# import libraries
import requests
from bs4 import BeautifulSoup
import time
import numpy as np
import pandas as pd
import urllib
from selenium import webdriver
from time import sleep
import re
import os

In [57]:
#CHANGE THIS WITH THE RIGHT PATH!
chromedriver = "/Users/darrenchia/Desktop/DSI_Projects/project-4/chromedriver"
os.environ["webdriver.chrome.driver"] = chromedriver

# Visit our relevant page.
url = "https://www.mycareersfuture.sg/search?search=Data&postingCompany=Direct&sortBy=new_posting_date&page={}"
driver = webdriver.Chrome(executable_path="./chromedriver/chromedriver")
driver.get(url.format(0))
assert "MyCareersFuture" in driver.title

# loop through to 100 pages, each page contains 20 job postings
# for num in range(100):
#     driver.get(url.format(num))

# Set sleep interval
t = np.random.randint(7,9) 
sleep(t)
# Grab the page source.
html = driver.page_source
# Beautiful Soup it!
soup = BeautifulSoup(html, 'lxml')

In [3]:
# driver.title

'Search results | MyCareersFuture'

In [58]:
# Look for all weblinks and location of each job posting
urls = []
location = []

for page in range(0,101):
    driver.get(url.format(page))
    # Set sleep interval
    t = np.random.randint(7,9) 
    sleep(t)
    # Grab the page source.
    html = driver.page_source
    # Beautiful Soup it!
    soup = BeautifulSoup(html, 'lxml')
    for entry in soup.find_all('a', {'class':'bg-white mb3 w-100 dib v-top pa3 no-underline flex-ns flex-wrap JobCard__card___22xP3'}):
        partial_url = entry.get('href')
        full_url = 'https://www.mycareersfuture.sg' + partial_url
        urls.append(full_url)
        try:
            location.append(entry.find('p', {'name':'location'}).text)
        except:
            location.append(None)
    print('-'*5, 'pages scraped:', page+1, '-'*5)

----- pages scraped: 1 -----
----- pages scraped: 2 -----
----- pages scraped: 3 -----
----- pages scraped: 4 -----
----- pages scraped: 5 -----
----- pages scraped: 6 -----
----- pages scraped: 7 -----
----- pages scraped: 8 -----
----- pages scraped: 9 -----
----- pages scraped: 10 -----
----- pages scraped: 11 -----
----- pages scraped: 12 -----
----- pages scraped: 13 -----
----- pages scraped: 14 -----
----- pages scraped: 15 -----
----- pages scraped: 16 -----
----- pages scraped: 17 -----
----- pages scraped: 18 -----
----- pages scraped: 19 -----
----- pages scraped: 20 -----
----- pages scraped: 21 -----
----- pages scraped: 22 -----
----- pages scraped: 23 -----
----- pages scraped: 24 -----
----- pages scraped: 25 -----
----- pages scraped: 26 -----
----- pages scraped: 27 -----
----- pages scraped: 28 -----
----- pages scraped: 29 -----
----- pages scraped: 30 -----
----- pages scraped: 31 -----
----- pages scraped: 32 -----
----- pages scraped: 33 -----
----- pages scraped: 34 -----
----- pages scraped: 35 -----
----- pages scraped: 36 -----
----- pages scraped: 37 -----
----- pages scraped: 38 -----
----- pages scraped: 39 -----
----- pages scraped: 40 -----
----- pages scraped: 41 -----
----- pages scraped: 42 -----
----- pages scraped: 43 -----
----- pages scraped: 44 -----
----- pages scraped: 45 -----
----- pages scraped: 46 -----
----- pages scraped: 47 -----
----- pages scraped: 48 -----
----- pages scraped: 49 -----
----- pages scraped: 50 -----
----- pages scraped: 51 -----
----- pages scraped: 52 -----
----- pages scraped: 53 -----
----- pages scraped: 54 -----
----- pages scraped: 55 -----
----- pages scraped: 56 -----
----- pages scraped: 57 -----
----- pages scraped: 58 -----
----- pages scraped: 59 -----
----- pages scraped: 60 -----
----- pages scraped: 61 -----
----- pages scraped: 62 -----
----- pages scraped: 63 -----
----- pages scraped: 64 -----
----- pages scraped: 65 -----
----- pages scraped: 66 -----
----- pages scraped: 67 -----
----- pages scraped: 68 -----
----- pages scraped: 69 -----
----- pages scraped: 70 -----
----- pages scraped: 71 -----
----- pages scraped: 72 -----
----- pages scraped: 73 -----
----- pages scraped: 74 -----
----- pages scraped: 75 -----
----- pages scraped: 76 -----
----- pages scraped: 77 -----
----- pages scraped: 78 -----
----- pages scraped: 79 -----
----- pages scraped: 80 -----
----- pages scraped: 81 -----
----- pages scraped: 82 -----
----- pages scraped: 83 -----
----- pages scraped: 84 -----
----- pages scraped: 85 -----
----- pages scraped: 86 -----
----- pages scraped: 87 -----
----- pages scraped: 88 -----
----- pages scraped: 89 -----
----- pages scraped: 90 -----
----- pages scraped: 91 -----
----- pages scraped: 92 -----
----- pages scraped: 93 -----
----- pages scraped: 94 -----
----- pages scraped: 95 -----
----- pages scraped: 96 -----
----- pages scraped: 97 -----
----- pages scraped: 98 -----
----- pages scraped: 99 -----
----- pages scraped: 100 -----
----- pages scraped: 101 -----

In [59]:
len(urls)

1900

In [60]:
urls[:5]

['https://www.mycareersfuture.sg/job/data-engineer-moneysmart-singapore-d56b1a5839b83d1bf6486c4beb22ed91',
 'https://www.mycareersfuture.sg/job/data-scientist-portcast-3571a3c590a2af44ecf32d28aa1dfe07',
 'https://www.mycareersfuture.sg/job/data-center-engineering-project-engineer-apac-amazon-asia-pacific-resources-de31764deee5ad19b1c31315dad0c575',
 'https://www.mycareersfuture.sg/job/lead-data-center-engineer-johnson-johnson-c0791839b727bc55b28d04045e79a617',
 'https://www.mycareersfuture.sg/job/data-scientist-intern-jabil-circuit-332041884350de0452d66a9ace0cf95e']

In [61]:
len(location)

1900

In [62]:
location[:5]

['South', 'South', 'Central', 'Central', 'East']

In [65]:
loc_url = pd.DataFrame()

In [66]:
loc_url['urls']=urls

In [67]:
loc_url['location']=location

In [69]:
loc_url.shape

(1900, 2)

In [70]:
loc_url.head()

                                                urls location
0  https://www.mycareersfuture.sg/job/data-engine...    South
1  https://www.mycareersfuture.sg/job/data-scient...    South
2  https://www.mycareersfuture.sg/job/data-center...  Central
3  https://www.mycareersfuture.sg/job/lead-data-c...  Central
4  https://www.mycareersfuture.sg/job/data-scient...     East

In [71]:
loc_url.to_csv('loc_url.csv')

In [72]:
# create empty dataframe to input info later
jobs_df = pd.DataFrame(columns=['coy_name','employment_type','job_title', 'seniority', 
                             'salary', 'salary_type','job_description','requirement'])

In [73]:
# Running through all the weblinks to scrape the required data
for i, v in enumerate(urls):

    driver.get(v)
    # Set sleep interval
    t = np.random.randint(7,9) 
    sleep(t)
    # Grab the page source.
    html = driver.page_source
    # Beautiful Soup it!
    soup = BeautifulSoup(html, 'lxml')
        
    # company name
    try:
        coy_name = soup.find('p', {'name': 'company'}).text
    except:
        coy_name = np.nan
        
   # employment type
    try:
        employment_type = soup.find('p', {'id': 'employment_type'}).text
    except:
        employment_type = np.nan
        
    # job title
    try:
        job_title = soup.find('h1', {'id': 'job_title'}).text
    except:
        job_title = np.nan
        
    # seniority
    try:
        seniority = soup.find('p', {'id': 'seniority'}).text
    except:
        seniority = np.nan
        
    # salary
    try:
        salary = soup.find('div', {'class': 'lh-solid'}).text
    except:
        salary = np.nan   
    
    # salary type
    try:
        salary_type = soup.find('span', {'class': 'salary_type dib f5 fw4 black-60 pr1 i pb'}).text
    except:                                     
        salary_type = np.nan     
        
    # job_description
    try:
        job_description = soup.find('div', {'id': 'description-content'}).text
    except:
        job_description = np.nan
        
    # requirement
    try:
        requirement = soup.find('div', {'id': 'requirements-content'}).text
    except:
        requirement = np.nan 
    
    # print no. of job postings scraped per 10
    if i%10==0:
        print('-'*5, 'jobs scraped:', i, '-'*5)

    # save to csv after every 100 job postings scraped
    if i%100==0:
        jobs_df.to_csv('./jobs_data.csv')        
    
    # Add values to each row of the dataframe
    jobs_df.loc[len(jobs_df)] = [coy_name, employment_type, job_title, seniority, 
                             salary, salary_type, job_description, requirement]

----- jobs scraped: 0 -----
----- jobs scraped: 10 -----
----- jobs scraped: 20 -----
----- jobs scraped: 30 -----
----- jobs scraped: 40 -----
----- jobs scraped: 50 -----
----- jobs scraped: 60 -----
----- jobs scraped: 70 -----
----- jobs scraped: 80 -----
----- jobs scraped: 90 -----
----- jobs scraped: 100 -----
----- jobs scraped: 110 -----
----- jobs scraped: 120 -----
----- jobs scraped: 130 -----
----- jobs scraped: 140 -----
----- jobs scraped: 150 -----
----- jobs scraped: 160 -----
----- jobs scraped: 170 -----
----- jobs scraped: 180 -----
----- jobs scraped: 190 -----
----- jobs scraped: 200 -----
----- jobs scraped: 210 -----
----- jobs scraped: 220 -----
----- jobs scraped: 230 -----
----- jobs scraped: 240 -----
----- jobs scraped: 250 -----
----- jobs scraped: 260 -----
----- jobs scraped: 270 -----
----- jobs scraped: 280 -----
----- jobs scraped: 290 -----
----- jobs scraped: 300 -----
----- jobs scraped: 310 -----
----- jobs scraped: 320 -----
----- jobs scraped: 330 -----
----- jobs scraped: 340 -----
----- jobs scraped: 350 -----
----- jobs scraped: 360 -----
----- jobs scraped: 370 -----
----- jobs scraped: 380 -----
----- jobs scraped: 390 -----
----- jobs scraped: 400 -----
----- jobs scraped: 410 -----
----- jobs scraped: 420 -----
----- jobs scraped: 430 -----
----- jobs scraped: 440 -----
----- jobs scraped: 450 -----
----- jobs scraped: 460 -----
----- jobs scraped: 470 -----
----- jobs scraped: 480 -----
----- jobs scraped: 490 -----
----- jobs scraped: 500 -----
----- jobs scraped: 510 -----
----- jobs scraped: 520 -----
----- jobs scraped: 530 -----
----- jobs scraped: 540 -----
----- jobs scraped: 550 -----
----- jobs scraped: 560 -----
----- jobs scraped: 570 -----
----- jobs scraped: 580 -----
----- jobs scraped: 590 -----
----- jobs scraped: 600 -----
----- jobs scraped: 610 -----
----- jobs scraped: 620 -----
----- jobs scraped: 630 -----
----- jobs scraped: 640 -----
----- jobs scraped: 650 -----
----- jobs scraped: 660 -----
----- jobs scraped: 670 -----
----- jobs scraped: 680 -----
----- jobs scraped: 690 -----
----- jobs scraped: 700 -----
----- jobs scraped: 710 -----
----- jobs scraped: 720 -----
----- jobs scraped: 730 -----
----- jobs scraped: 740 -----
----- jobs scraped: 750 -----
----- jobs scraped: 760 -----
----- jobs scraped: 770 -----
----- jobs scraped: 780 -----
----- jobs scraped: 790 -----
----- jobs scraped: 800 -----
----- jobs scraped: 810 -----
----- jobs scraped: 820 -----
----- jobs scraped: 830 -----
----- jobs scraped: 840 -----
----- jobs scraped: 850 -----
----- jobs scraped: 860 -----
----- jobs scraped: 870 -----
----- jobs scraped: 880 -----
----- jobs scraped: 890 -----
----- jobs scraped: 900 -----
----- jobs scraped: 910 -----
----- jobs scraped: 920 -----
----- jobs scraped: 930 -----
----- jobs scraped: 940 -----
----- jobs scraped: 950 -----
----- jobs scraped: 960 -----
----- jobs scraped: 970 -----
----- jobs scraped: 980 -----
----- jobs scraped: 990 -----
----- jobs scraped: 1000 -----
----- jobs scraped: 1010 -----
----- jobs scraped: 1020 -----
----- jobs scraped: 1030 -----
----- jobs scraped: 1040 -----
----- jobs scraped: 1050 -----
----- jobs scraped: 1060 -----
----- jobs scraped: 1070 -----
----- jobs scraped: 1080 -----
----- jobs scraped: 1090 -----
----- jobs scraped: 1100 -----
----- jobs scraped: 1110 -----
----- jobs scraped: 1120 -----
----- jobs scraped: 1130 -----
----- jobs scraped: 1140 -----
----- jobs scraped: 1150 -----
----- jobs scraped: 1160 -----
----- jobs scraped: 1170 -----
----- jobs scraped: 1180 -----
----- jobs scraped: 1190 -----
----- jobs scraped: 1200 -----
----- jobs scraped: 1210 -----
----- jobs scraped: 1220 -----
----- jobs scraped: 1230 -----
----- jobs scraped: 1240 -----
----- jobs scraped: 1250 -----
----- jobs scraped: 1260 -----
----- jobs scraped: 1270 -----
----- jobs scraped: 1280 -----
----- jobs scraped: 1290 -----
----- jobs scraped: 1300 -----
----- jobs scraped: 1310 -----
----- jobs scraped: 1320 -----
----- jobs scraped: 1330 -----
----- jobs scraped: 1340 -----
----- jobs scraped: 1350 -----
----- jobs scraped: 1360 -----
----- jobs scraped: 1370 -----
----- jobs scraped: 1380 -----
----- jobs scraped: 1390 -----
----- jobs scraped: 1400 -----
----- jobs scraped: 1410 -----
----- jobs scraped: 1420 -----
----- jobs scraped: 1430 -----
----- jobs scraped: 1440 -----
----- jobs scraped: 1450 -----
----- jobs scraped: 1460 -----
----- jobs scraped: 1470 -----
----- jobs scraped: 1480 -----
----- jobs scraped: 1490 -----
----- jobs scraped: 1500 -----
----- jobs scraped: 1510 -----
----- jobs scraped: 1520 -----
----- jobs scraped: 1530 -----
----- jobs scraped: 1540 -----
----- jobs scraped: 1550 -----
----- jobs scraped: 1560 -----
----- jobs scraped: 1570 -----
----- jobs scraped: 1580 -----
----- jobs scraped: 1590 -----
----- jobs scraped: 1600 -----
----- jobs scraped: 1610 -----
----- jobs scraped: 1620 -----
----- jobs scraped: 1630 -----
----- jobs scraped: 1640 -----
----- jobs scraped: 1650 -----
----- jobs scraped: 1660 -----
----- jobs scraped: 1670 -----
----- jobs scraped: 1680 -----
----- jobs scraped: 1690 -----
----- jobs scraped: 1700 -----
----- jobs scraped: 1710 -----
----- jobs scraped: 1720 -----
----- jobs scraped: 1730 -----
----- jobs scraped: 1740 -----
----- jobs scraped: 1750 -----
----- jobs scraped: 1760 -----
----- jobs scraped: 1770 -----
----- jobs scraped: 1780 -----
----- jobs scraped: 1790 -----
----- jobs scraped: 1800 -----
----- jobs scraped: 1810 -----
----- jobs scraped: 1820 -----
----- jobs scraped: 1830 -----
----- jobs scraped: 1840 -----
----- jobs scraped: 1850 -----
----- jobs scraped: 1860 -----
----- jobs scraped: 1870 -----
----- jobs scraped: 1880 -----
----- jobs scraped: 1890 -----

In [74]:
jobs_df.shape

(1900, 8)

In [76]:
# add urls and location to dataframe
jobs_df['location'] = location
jobs_df['urls'] = urls

In [77]:
jobs_df.shape

(1900, 10)

In [78]:
jobs_df.head(3)

,coy_name,employment_type,job_title,seniority,salary,salary_type,job_description,requirement,location,urls
0,MONEYSMART SINGAPORE PTE. LTD.,Full Time,Data Engineer,Executive,"$5,000to$7,000",Monthly,Mission As part of becoming one of the members...,Competencies Degree in Computer Science or an...,South,https://www.mycareersfuture.sg/job/data-engine...
1,PORTCAST PTE. LTD.,Full Time,Data Scientist,Middle Management,"$2,200to$6,000",Monthly,"In this role, you will be responsible for anal...",● Comfortable working with large amounts of d...,South,https://www.mycareersfuture.sg/job/data-scient...
2,AMAZON ASIA-PACIFIC RESOURCES PRIVATE LIMITED,Full Time,Data Center Engineering Project Engineer APAC,Professional,"$9,000to$12,000",Monthly,The Data Center Global Services (DCGS) team is...,Basic Qualifications - Minimum 5 years of mis...,Central,https://www.mycareersfuture.sg/job/data-center...

In [79]:
# update to csv
jobs_df.to_csv('jobs_data.csv')

In [ ]:
# to resume from last url scraped 
# urls[350:]
# t = np.random.randint(4,6)

## first attempt

In [12]:
# create empty dataframe to input info later
mycf = pd.DataFrame(columns=['coy_name','employment_type','job_title', 'seniority', 
                             'salary', 'salary_type','job_description','requirement'])

# save to csv 
# mcf = pd.DataFrame().to_csv('mcf.csv')

In [13]:
# Running through all the weblinks to scrape the required data
for i, v in enumerate(urls):

    driver.get(v)
    # Set sleep interval
    t = np.random.randint(7,9) 
    sleep(t)
    # Grab the page source.
    html = driver.page_source
    # Beautiful Soup it!
    soup = BeautifulSoup(html, 'lxml')

# Variables:
# 'coy_name','employment_type','job_title', 'seniority', 
# 'salary', 'salary_type','job_description','requirements'
        
    # company name
    try:
        coy_name = soup.find('p', {'name': 'company'}).text
    except:
        coy_name = np.nan
        
   # employment type
    try:
        employment_type = soup.find('p', {'id': 'employment_type'}).text
    except:
        employment_type = np.nan
        
    # job title
    try:
        job_title = soup.find('h1', {'id': 'job_title'}).text
    except:
        job_title = np.nan
        
    # seniority
    try:
        seniority = soup.find('p', {'id': 'seniority'}).text
    except:
        seniority = np.nan
        
    # salary
    try:
        salary = soup.find('div', {'class': 'lh-solid'}).text
    except:
        salary = np.nan   
    
    # salary type
    try:
        salary_type = soup.find('span', {'class': 'salary_type dib f5 fw4 black-60 pr1 i pb'}).text
    except:                                     
        salary_type = np.nan     
        
    # job_description
    try:
        job_description = soup.find('div', {'id': 'description-content'}).text
    except:
        job_description = np.nan
        
    # requirement
    try:
        requirement = soup.find('div', {'id': 'requirements-content'}).text
    except:
        requirement = np.nan 
    
    # print no. of job postings scraped per 10
    if i%10==0:
        print('-'*5, 'jobs scraped:', i, '-'*5)

    # save to csv after every 100 job postings scraped
    if i%100==0:
        mycf.to_csv('./jobs_data.csv')        
    
    # Add values to each row of the dataframe
    mycf.loc[len(mycf)] = [coy_name, employment_type, job_title, seniority, 
                             salary, salary_type, job_description, requirement]

In [21]:
i = 2
print('-'*5, 'jobs scraped:', i, '-'*5)

----- jobs scraped: 2 -----

In [17]:
mycf

,coy_name,employment_type,job_title,seniority,salary,salary_type,job_description,requirement
0,KELLY SERVICES (SINGAPORE) PTE. LTD.,Contract,Systems Analyst (Agile),Professional,"$9,000to$13,500",Monthly,Job Description To build scalable and reliab...,"Job Requirements Degree in Computer Science, ..."
1,KELLY SERVICES (SINGAPORE) PTE. LTD.,Contract,Systems Analyst (Agile),Professional,"$6,000to$9,000",Monthly,Job Description To build scalable and reliab...,"Job Requirements Degree in Computer Science, ..."
2,GOOGLE ASIA PACIFIC PTE. LTD.,Full Time,"Data Science Lead, Large Customer Sales - Sing...",Executive,"$7,700to$15,400",Monthly,Company overview: Google is not a conventional...,Minimum qualifications: - Bachelor’s degree in...
3,TRAKOMATIC PTE. LTD.,Full Time,Data analyst,Professional,"$3,500to$4,500",Monthly,The Retail Data Analyst will lead and perform ...,"Requirements: A bachelor’s degree in math,..."
4,"VARIAN MEDICAL SYSTEMS PACIFIC, INC.",Permanent,Business Data Analyst,Fresh/entry level,NaN,,Position Summary & Core Responsibilities: Data...,Minimum Required Skills and Knowledge: Profic...
5,INTELLECT MINDS PTE. LTD.,Full Time,Data Engineer,Executive,"$5,000to$7,000",Monthly,Company Overview Intellect Minds is a Singapor...,Qualifications • Advanced working SQL knowledg...
6,KIMBERLEY CONSULTING PTE. LTD.,Permanent,Data Analyst,Executive,NaN,,Large commodities company Marina Bay Respo...,Requirements: Minimum Bachelor’s Degree in Ma...
7,GUMI ASIA PTE. LTD.,Full Time,Data Analyst,Junior Executive,"$2,800to$3,800",Monthly,Perform evaluations and problem investigation...,Minimum Diploma/ Degree in Statistics/Compute...
8,DBS BANK LTD.,Full Time,"AVP, Data Scientist, Business Analytics, Consu...",Senior Management,"$6,500to$11,700",Monthly,Business Function As the leading bank in Asia...,"Masters or equivalent degree in Statistics, A..."
9,NIOMETRICS (PTE.) LTD.,Permanent,High-Performance Data Engineer,Professional,"$5,500to$11,000",Monthly,WHAT WE DO We invite you to be part of our amb...,WHAT WE VALUE Bachelor’s or Higher Degree in ...
10,NIOMETRICS (PTE.) LTD.,Permanent,Data Scientist,Professional,"$5,000to$10,000",Monthly,"WHAT WE DO Niometrics captures, organises and ...",WHAT WE VALUE BA/BS (or MA/MS) or equivalent ...
11,ERNST & YOUNG ADVISORY PTE. LTD.,Full Time,"Senior Associate, Data and Analytics, Advisory",Executive,"$4,100to$8,200",Monthly,"Powered by big data and advanced technologies,...",To qualify for the role you must have BS in E...
12,ERNST & YOUNG ADVISORY PTE. LTD.,Full Time,"Associate, Advisory Data and Analytics",Executive,"$3,000to$6,000",Monthly,"Powered by big data and advanced technologies,...",To qualify for the role you must have BS in E...
13,REDMART LIMITED,"Permanent, Full Time",Lead Data Scientist,Professional,"$7,000to$14,000",Monthly,As one of the fastest growing e-commerce and l...,"Qualifications: Deep expertise in search, pre..."
14,JEWEL PAYMENTECH PTE. LTD.,"Permanent, Full Time",Lead Data Engineer,Professional,"$8,000to$12,000",Monthly,As a Data Engineer you will get to work on a w...,Required Qualifications: 10+ years of experie...
15,ALLEGIS GLOBAL SOLUTIONS (SINGAPORE) PTE. LTD.,Contract,"Data Management Officer, Financial Markets (1 ...",Executive,"$2,600to$3,000",Monthly,Allegis Global Solutions is the exclusive Cont...,Degree in banking and finance or business Leg...
16,GMP TECHNOLOGIES (S) PTE LTD,Full Time,Data Center Manager,Senior Executive,"$4,500to$5,500",Monthly,Initiate tactical solutions in support of the...,Degree in Information Technology or relevant ...
17,BLUECHIP PLATFORMS ASIA PTE. LTD.,Full Time,"Investment Data Analyst, Global Asset Management",Executive,NaN,,The candidate will need to build and develop p...,**Apply here** https://www.bluechipcareers-asi...
18,NCS PTE. LTD.,Full Time,Senior / Staff Data Scientist,Professional,"$8,000to$13,000",Monthly,Work with customers to identify opportunities...,PhD/Masters/Bachelors (with good honours) in ...
19,NCS PTE. LTD.,Full Time,Associate / Senior Data Scientist,Professional,"$4,500to$9,000",Monthly,Work with customers to identify opportunities...,PhD/Masters/Bachelors (with good honours) in ...
20,LAZADA SOUTH EAST ASIA PTE. LTD.,Full Time,"Vice President, Data Science",Middle Management,"$9,000to$14,000",Monthly,Team Introduction Lazada is the number one onl...,At least two years relevant working experienc...
21,RGF TALENT SOLUTIONS SINGAPORE PTE. LTD.,"Permanent, Contract",Business Data Analyst,Senior Executive,"$6,000to$10,000",Monthly,Support the global marketing team Work with l...,"Degree holder, with at least 4 - 5 years of ..."
22,NATIONAL UNIVERSITY OF SINGAPORE,"Contract, Full Time",Data Scientist,Non-executive,"$5,000to$7,500",Monthly,1. Work with Industry Partners in Challenging ...,Good knowledge in Operations Research and Mat...
23,KEYTEO CONSULTING PTE. LTD.,Full Time,Data scientist / Application production engi...,Non-executive,"$8,000to$16,000",Monthly,"Our Company: Founded in 2014, Keyteo Consu...",This role is a position within the eTrading Ap...
24,EPROM DATA SYSTEMS PTE LTD,Full Time,IT Sales Specialist,Executive,"$2,500to$3,800",Monthly,(internal and external) pls indicate which pos...,"• O or A Levels, diploma. • 2 to 3 years..."
25,EPROM DATA SYSTEMS PTE LTD,Full Time,IT Sales Specialist,Executive,"$2,500to$3,800",Monthly,(internal and external) pls indicate which pos...,"• O or A Levels, diploma. • 2 to 3 years..."
26,INC RESEARCH CRO SINGAPORE PTE. LTD.,"Permanent, Full Time",SR Clinical Research Associate,"Professional, Executive, Senior Executive","$80,000to$90,000",Monthly,The Senior Clinical Research Associate I (Sr C...,Requirements: BA/BS degree in science/health c...
27,WONGPARTNERSHIP LLP,Permanent,Marketing and Client Services Administrator,Non-executive,"$2,000to$2,999",Monthly,WongPartnership is a top-tier law firm headq...,A diploma in a relevant discipline with a min...
28,MANPOWER STAFFING SERVICES (SINGAPORE) PTE LTD,"Contract, Full Time",Enterprise Architecture Tool Admin,Executive,"$6,000to$8,500",Monthly,Enterprise Architecture Tool Admin: a. Develop...,3 or more years of experience in Enterprise Ar...
29,RUSSELL REYNOLDS ASSOCIATES SINGAPORE PTE. LTD.,Permanent,Knowledge Associate,Executive,"$3,500to$4,500",Monthly,"On a day-to-day basis, the knowledge associate...",Requirements § Strong problem solver; highly a...
30,GUMI ASIA PTE. LTD.,Permanent,User Acquisition Executive (Facebook Advertising),Executive,"$4,000to$5,600",Monthly,Candidate will be a part of the company’s expa...,Have a passion for games! Strong Mathematical...
31,WIPRO LIMITED (SINGAPORE BRANCH),"Permanent, Contract",Managing Consultant – Banking and Blockchain,Professional,"$10,000to$15,000",Monthly,The ideal candidate will have 10 - 14 years of...,Skills and knowledge - Mandatory Indepth doma...
32,MSG GLOBAL SOLUTIONS ASIA PTE. LTD.,Full Time,Principal Consultant (IFRS17 Implementation Ex...,Professional,"$12,000to$16,000",Monthly,msg global is a consulting and system integrat...,"University degree in information technology, ..."
33,INC RESEARCH CRO SINGAPORE PTE. LTD.,"Permanent, Full Time",SR Site Start-up & Regulatory Specialist,"Professional, Senior Executive","$70,000to$80,000",Monthly,Performs assigned activities within the countr...,Requirements: BA/BS degree in the science/he...
34,GOOGLE ASIA PACIFIC PTE. LTD.,Full Time,Global Mobility Solution Operations Specialist...,Junior Executive,"$4,500to$9,000",Monthly,Company overview: Google is not a conventional...,Minimum qualifications: - Bachelor's degree in...
35,NANYANG TECHNOLOGICAL UNIVERSITY,"Contract, Full Time",Research Associate (Computational Linguistics),Non-executive,"$4,000to$5,500",Monthly,The School of Humanities invites application f...,Job Requirements At least a Masters in Psycho...
36,ENTITY SOLUTIONS (SINGAPORE) PTE. LTD.,Permanent,Principal Consultant,Professional,"$11,000to$13,000",Monthly,Good understanding of Insurance Business Proc...,"University Degree in Information Technology, ..."
37,MORRISON & FOERSTER (SINGAPORE) LLP,Full Time,Paralegal (Corporate),Executive,"$4,000to$10,000",Monthly,RESPONSIBILITIES: Guided by department object...,QUALIFICATIONS Education and Experience Bache...
38,SEPHORA DIGITAL SEA PTE. LTD.,Full Time,Product Manager - Sales Engine,Manager,"$6,000to$7,500",Monthly,Sephora Digital seeks to hire a Product Manage...,"The successful candidate will be analytical, p..."
39,GOVERNMENT TECHNOLOGY AGENCY,Permanent,"Associate Director, Performance Management - W...",Middle Management,"$11,000to$13,000",Monthly,You will be part of the team that manages Whol...,NaN

In [44]:
mycf['urls']=urls

In [45]:
mycf.head()

,coy_name,employment_type,job_title,seniority,salary,salary_type,job_description,requirement,urls
0,KELLY SERVICES (SINGAPORE) PTE. LTD.,Contract,Systems Analyst (Agile),Professional,"$9,000to$13,500",Monthly,Job Description To build scalable and reliab...,"Job Requirements Degree in Computer Science, ...",https://www.mycareersfuture.sg/job/systems-ana...
1,KELLY SERVICES (SINGAPORE) PTE. LTD.,Contract,Systems Analyst (Agile),Professional,"$6,000to$9,000",Monthly,Job Description To build scalable and reliab...,"Job Requirements Degree in Computer Science, ...",https://www.mycareersfuture.sg/job/systems-ana...
2,GOOGLE ASIA PACIFIC PTE. LTD.,Full Time,"Data Science Lead, Large Customer Sales - Sing...",Executive,"$7,700to$15,400",Monthly,Company overview: Google is not a conventional...,Minimum qualifications: - Bachelor’s degree in...,https://www.mycareersfuture.sg/job/data-scienc...
3,TRAKOMATIC PTE. LTD.,Full Time,Data analyst,Professional,"$3,500to$4,500",Monthly,The Retail Data Analyst will lead and perform ...,"Requirements: A bachelor’s degree in math,...",https://www.mycareersfuture.sg/job/data-analys...
4,"VARIAN MEDICAL SYSTEMS PACIFIC, INC.",Permanent,Business Data Analyst,Fresh/entry level,NaN,,Position Summary & Core Responsibilities: Data...,Minimum Required Skills and Knowledge: Profic...,https://www.mycareersfuture.sg/job/business-da...

In [40]:
mycf.salary.describe()

count                 37
unique                33
top       $3,500to$4,500
freq                   2
Name: salary, dtype: object

In [24]:
mycf.salary.dtype

dtype('O')

In [37]:
mycf.salary[:5]

0    $9,000to$13,500
1     $6,000to$9,000
2    $7,700to$15,400
3     $3,500to$4,500
4                NaN
Name: salary, dtype: object

In [25]:
mycf.salary[0]

'$9,000to$13,500'

In [ ]:
mycf.salary.map(lambda x: str(x).split('to').replace('$',''))

In [41]:
mycf.salary[0].split('to')

['$9,000', '$13,500']

In [ ]:
mycf.salary[0]

In [1]:
# driver.close()

NameError: name 'driver' is not defined